.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

.imgLogo{
  max-width: 150px;
}
#carouselExampleCaptions {
  max-width: 1200px;  
  margin: 0 auto;   
}

.bgCubipoint{
  background-color: bisque;
}

#contenedorCartas .card-img-top {
  height: 230px;
  object-fit: contain;
  background-color: white;
  padding: 2px;
}

#detalleCard .card-img-top {
  height: auto;
  object-fit: contain;
  background-color: white;
}


body {
  padding-bottom: 3rem;
}

.degradadoBG{
  background-image: linear-gradient(to top, #e02222, #000000);
}

.nav-tabs .nav-link.active {
  background-color: #000000;
  color: #ec2727 !important;
}

.nav-tabs .nav-link {
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  background-color: #000000;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #0f1010;
  color: #ec2727;
}

.modal-content {
  border-radius: 1rem;
}

.card-body .btn {
  background-color: black;
  color: white;
  border: none;
  transition: 0.2s;
  font-weight: bold;
}

.card-body .btn:hover {
  background-color: #ec2727;
  color: #0f1010;
  font-weight: bold;
}

.card {
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
  height: 100%;
}

.card-body {
  background-color: #ffffff;
}


#footers {
    font-size: large;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: center;
    font-weight: bolder;
}

.enlaces {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#banner_Remake{
  width: 75%;
  text-align: center;
  padding-bottom: 20px;
}
#BannerCOCOCORRE{
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
}
#BannerItchio{
  width: 65%;
  text-align: center;
  padding-bottom: 20px;
}