.walter-turncoat-regular {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  padding-bottom: 3rem;
}

.degradadoBG{
  background-image: linear-gradient(to top, #e02222, #000000);
}

.nav-tabs .nav-link.active {
  background-color: #000000;
  color: #ec2727 !important;
}

.nav-tabs .nav-link {
  color: rgb(255, 255, 255);
}

.dropdown-menu {
  background-color: #000000;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #0f1010;
  color: #ec2727;
}

.modal-content {
  border-radius: 1rem;
}

.card-body .btn {
  transition: 0.2s;
}

.card-body .btn:hover {
  background-color: #ec2727;
  color: #0f1010;
  font-weight: bold;
}

.card-body .btn{
  background-color: black;
}

.card-body{
  background-color: #ffffff;
}

.card{
  border-radius: 5px;
  border-width: 2px;
  border-color: white;
}

#footers {
    font-size: large;
    color: rgb(0, 0, 0);
    line-height: 1;
    text-align: center;
    font-weight: bolder;
}

.enlaces {
    color: rgb(0, 0, 0);
    text-decoration: none;
}